@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --md-ref-typeface-brand: 'Inter', sans-serif;
  --md-ref-typeface-plain: 'Inter', sans-serif;
}

body {
  @apply bg-gray-100 text-gray-900;
  --md-sys-color-surface: #ffffff;
  --md-sys-color-on-surface: #1a1c1e;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary: #3b82f6;
  --md-sys-color-outline: #74777f;
}

.dark body {
  @apply bg-gray-900 text-gray-100;
  --md-sys-color-surface: #2b2b2b;
  --md-sys-color-on-surface: #e2e2e6;
  --md-sys-color-on-primary: #1e1f22;
  --md-sys-color-primary: #60a5fa;
  --md-sys-color-outline: #8e9099;
  
  --md-sys-color-surface-container-low: #1F2937;
  --md-sys-color-on-surface-variant: #FFFFFF;
}